.user-new-registration
  .user-new-registration__header
    = image_tag("fmarket_logo_red.svg", class: ".user-new-registration__header__logo", size: "185x45", alt: "logo")
  .user-new-registration__contents
    .user-new-registration__contents__header
      新規会員登録
      = link_to "ログイン", new_user_session_path
      = link_to "ログアウト", destroy_user_session_path, method: :delete
      -# = current_user.nickname
    .user-new-registration__contents__menus
      .user-new-registration__contents__menus__mail
        %i.far.fa-envelope
          = link_to "メールアドレスで登録する", new_user_registration_path
      .user-new-registration__contents__menus__facebook
        %i.fab.fa-facebook-square
        Facebookで登録する
      .user-new-registration__contents__menus__google
        %i.fab.fa-google
        Googleで登録する
  .user-new-registration__footer
    .user-new-registration__footer__links
      .user-new-registration__footer__links__policy
        プライバシーポリシー
      .user-new-registration__footer__links__terms
        メルカリ利用規約
      .user-new-registration__footer__links__commerce
        特定商取引に関する表記
    .user-new-registration__footer__mercari
      = image_tag("logo_gray.svg", class: ".user-new-registration__footer__mercari__logo", size: "80x65", alt: "logo")
      .user-new-registration__footer__mercari__copyright
        ©️ Mercari, Inc.

