= render "top/header-top"


- breadcrumb :mypage
= render "layouts/breadcrumbs"
.user-wrapper
  = render 'side'

  .mypage-contents1
    .mypage-contents1__headbar1
      .mypage-contents1__headbar1__user-icon
        = image_tag("logo_red.svg", size: "60x60")
        %h2= @user.nickname
      .mypage-contents1__headbar1__user-status
        %p 評価 0
        %p 出品数 0

    .mypage-contents1__switchtabs
      .mypage-contents1__switchtabs__tab.active
        お知らせ
      .mypage-contents1__switchtabs__tab
        やることリスト
    .mypage-contents1__contents
      %ul.mypage-contents1__contents__content.show
        = link_to "#" ,class: 'mypage-link' do
          %li.mypage-contents1__contents__content__news
            .mypage-contents1__contents__content__news__icon
              = image_tag("logo_red.svg", size: "40x40")
            .mypage-contents1__contents__content__news__headline
              .mypage-contents1__contents__content__news__headline__text
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
              .mypage-contents1__contents__content__news__headline__time
                3日前
        = link_to "#",class: 'mypage-link' do
          %li.mypage-contents1__contents__content__news
            .mypage-contents1__contents__content__news__icon
              = image_tag("logo_red.svg", size: "40x40")
            .mypage-contents1__contents__content__news__headline
              .mypage-contents1__contents__content__news__headline__text
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
              .mypage-contents1__contents__content__news__headline__time
                3日前
        = link_to "#",class: 'mypage-link' do
          %li.mypage-contents1__contents__content__news
            .mypage-contents1__contents__content__news__icon
              = image_tag("logo_red.svg", size: "40x40")
            .mypage-contents1__contents__content__news__headline
              .mypage-contents1__contents__content__news__headline__text
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
              .mypage-contents1__contents__content__news__headline__time
                3日前
        = link_to "#" ,class: 'mypage-link' do
          %li.mypage-contents1__contents__content__news
            .mypage-contents1__contents__content__news__icon
              = image_tag("logo_red.svg", size: "40x40")
            .mypage-contents1__contents__content__news__headline
              .mypage-contents1__contents__content__news__headline__text
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
              .mypage-contents1__contents__content__news__headline__time
                3日前
        %li.mypage-contents1__contents__content__notifications
          = link_to "#",class: 'mypage-link' do
            .mypage-contents1__contents__content__notifications__text 一覧を見る

      %ul.mypage-contents1__contents__content
        現在、やることリストはありません

    .mypage-contents2
    .mypage-contents2__headbar2 購入した商品
    .mypage-contents2__switchtabs
      .mypage-contents2__switchtabs__tab.active
        取引中
      .mypage-contents2__switchtabs__tab
        過去の取引
    .mypage-contents2__contents
      %ul.mypage-contents2__contents__content.show
        取引中の商品がありません
      %ul.mypage-contents2__contents__content
        過去に取引した商品がありません

= render "top/top2"