.bought__body__all
  .bought__header__top
    .bought__header__top__logo
      = link_to image_tag("fmarket_logo_red.svg", class: ".bought__header__top", size: "185x45", alt: "logo"), root_path
    .bought__title
      .bought__text__filed
        %button.bought-btn
          = link_to "購入完了", root_path,class: "bought-btn2"
  .bought__footer
    .bought__footer__body
      %div.text.bought  
        = link_to 'プライバシーポリシー',"https://www.mercari.com/jp/privacy/"    
      %div.text.bought2
        = link_to 'Fmarket利用規約',"https://www.mercari.com/jp/tos/"
      %div.text.bought3
        = link_to '特定商取引に関する表記',"https://www.mercari.com/jp/tokutei/"
  .bought__footer__body__logo
    = image_tag("logo_gray.svg", class: "free-gray1")
