.buy__body__all
  .buy__header__top
    .buy__header__top__logo
      = link_to image_tag("fmarket_logo_red.svg", class: ".user-new-registration__header__logo", size: "185x45", alt: "logo"), root_path
  .buy__body__header
    .buy__body__header__top
      %h2.buy__body__header__text 購入内容の画面
      .buy__product
        
        .buy__product__inner

          .buy__product__inner__body
            .buy__product__image
              #main-image
                = image_tag src="#{@item.images[0].src}", data: {url: "#{@item.images[0].src}"}, size: "80x80"
              .buy__product__image__item
                .buy__product__image__item__name
                  = @item.name
                .buy__product__image__item__price
                  ¥
                  = @item.price
                  %span （税込)送料込み
    .buy__body__under
      .buy__body__under__inner
        %form  
          %ul.inner
            %li.inner
              %div.payprice

                - require "date"
                - d = Date.today;
                - if d.month == 1
                  %h3.paypricetext
                    支払い金額
                    ¥
                    = (@item.price * 0.5).round
                  .alart
                    現在キャンペーン中のため、半額です！！

                - else
                  %h3.paypricetext
                    支払い金額
                    ¥
                    = @item.price

              %div.inner
                %span.data
              %i.inner
              %label.have
          .buy__body__under__inner__way
            .way
              %h3 お支払い方法
              .way2
                %i.add
                  +
                .register1
                  = link_to "登録してください", new_card_path(@card), class: "button"
        .buy_push          
          %button.push_btn
            = link_to "購入する", item_card_buy_index_path, method: :post, class: "buy_button"
  .buy__footer
    .buy__footer__body
      %div.text  
        = link_to 'プライバシーポリシー',"https://www.mercari.com/jp/privacy/"
      %div.text2  
        = link_to 'Fmaket利用規約',"https://www.mercari.com/jp/tos/"
      %div.text3  
        = link_to '特定商取引に関する表記',"https://www.mercari.com/jp/tokutei/"

  .buy__footer__body__logo
    = image_tag("logo_gray.svg", class: "fmarket-gray1")