<%= form_for @item do |f| %>
  <div id="image-box">
    <div id="previews">
      <% if @item.persisted? %>
        <% @item.images.each_with_index do |image, i| %>
          <%= image_tag image.src.url, data: { index: i }, width: "100", height: '100' %>
        <% end %>
      <% end %>
    </div>
    <%= f.fields_for :images do |image| %>
      <div data-index="<%= image.index %>" class="js-file_group">
        <%= image.file_field :src, class: 'js-file' %><br>
        <span class="js-remove">削除</span>
      </div>
      <% if @item.persisted? %>
        <%= image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy' %>
      <% end %>
    <% end %>
    <% if @item.persisted? %>
      <div data-index="<%= @product.images.count %>" class="js-file_group">
        <%= file_field_tag :src, name: "item[images_attributes][#{@item.images.count}][src]", class: 'js-file' %>
        <div class="js-remove">削除</div>
      </div>
    <% end %>
  </div>
  <%= f.submit %>
<% end %>