= form_for @item do |f|
  .form__container
    #image-box
      .name__container
        .name__container--title
          出品画像
        .form__require
          必須
      #previews
        - if @item.persisted?
          - @item.images.each_with_index do |image, i|
            = image_tag image.src.url, data: { index: i }, width: "100", height: '100'
      = f.fields_for :images do |image|
        .js-file_group{"data-index" => "#{image.index}"}
          = image.file_field :src, class: 'js-file'
          .js-remove 削除
        - if @item.persisted?
          = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
      - if @item.persisted?
        .js-file_group{"data-index" => "#{@item.images.count}"}
          = file_field_tag :src, name: "item[images_attributes][#{@item.images.count}][src]", class: 'js-file'
          .js-remove 削除

    .item__name
      .item__name--title
        商品名
        .form__require
          必須
      = f.text_field :name, class: 'item__name--form', placeholder: '商品名（最大40字以内)' do
        .form__text

    .item__description
      .item__description__title
        .description__title__text
          商品の説明
        .form__require
          必須
      = f.text_area :discription, rows: "5", class: 'item__description__form', placeholder: '商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。' do
        .description__form__text

    -# .form__details
      .form__details__title
        商品の詳細
      .details__right
        .form__group
          .details__title
            カテゴリー
          = f.collection_select :item_category_ids, @parents, :id, :name,{prompt: "---"}, class: "details__category__menu", id: "parent-form", name: 'item[item_category_ids][]' do
            プルダウン

        .form__group
          .details__title
            商品の状態
          = f.select :delivery_day, Item.delivery_days.keys, {}, {class: 'datails__status__menu'} do
            プルダウン

    -# .form__delivery
      .form__delivery__title
        配送について
      .form__delivery__group
        .form__group
          .delivery__title
            配送料の負担
          = f.select :delivery_burden_fee, Item.delivery_burden_fees.keys,{},{class: 'delivery__menu'} do
            .delivery__menu__form

        .form__group
          .delivery__title
            配送元の地域
          = f.select :delivery_area, DeliveryArea.delivery_areas.keys, {}, {class: 'delivery__menu'} do
            プルダウン

          .form__group
            .delivery__title
              配送までの日数
            = f.select :delivery_day, Item.delivery_days.keys, {}, {class: 'delivery__menu'} do
              プルダウン

    .form__sale
      .form__sale__title
        販売価格(300〜9,999,999)
        .form__group
          .sale__group__content
            .sale__title
              .sale__title__price
                価格
              .form__require
                必須
            .form__title__box
              = f.text_field :price, class: 'sale__title__box', placeholder: '例) 100' do
                .price__input
            -# .sale__commission
            -#   手数料
            -# .sale__menu
            -#   販売利益

    .form__exhibit1
      .exhibit__description
        %p 禁止されている出品、行為を必ずご確認ください
        %p またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
        %p また、出品をもちまして加盟店規約に同意したことになります。

    .form__exhibit__btn
      - if controller.action_name == 'edit'
        = f.submit "確定する", class: 'exhibit__sell'  
        = link_to "もどる", root_path, class: 'exhibit__back'
      - else
        = f.submit "出品する", class: 'exhibit__sell'  
        = link_to "もどる", root_path, class: 'exhibit__back'
