.destroy__body__all
  .destroy__header__top
    = image_tag("fmarket_logo_red.svg", class: "logo", size: "100×100", alt: "fmarket")
    .destroy__title
      .destroy__text__filed
        %button.des-btn
          = link_to "削除完了", new_card_path(@card,@item), method: :get, class: "des-btn2"
  .destroy__footer
    .destroy__footer__body
      %div.text.destroy  
        = link_to 'プライバシーポリシー',"https://www.mercari.com/jp/privacy/"    
      %div.text.destroy2 
        = link_to 'メルカリ利用規約',"https://www.mercari.com/jp/tos/"
      %div.text.destroy3
        = link_to '特定商取引に関する表記',"https://www.mercari.com/jp/tokutei/"
  .destroy__footer__body__logo
    = image_tag("logo_gray.svg", class: "free-gray1")
