.credit__body__all2
  .credit__header__top2
    .credit__header__top2__logo2
      = link_to image_tag("fmarket_logo_red.svg", class: ".user-new-registration__header__logo", size: "185x45", alt: "logo"), root_path
  .credit__title2
    %h2.paypay 支払い方法
    .content__credit-cards
      %h3.list-card クレジットカード一覧
      - if @card.present?
        %ul.content__credit-cards__list
          %li
          = form_with url: card_path(@card,@item), method: :delete, local: true, id: 'charge-form' do |f|
            //カードブランドのアイコンを表示する場合-----
            %figure
              = image_tag "credit-cards/#{@card_src}", width: '36', height: '30', alt: @card_brand, id: "card_image"
            .content__credit-cards__list--pay-num
              = "**** **** **** " + @card_information.last4
            .content__credit-cards__list--pay-num
              - exp_month = @card_information.exp_month.to_s
              - exp_year = @card_information.exp_year.to_s.slice(2,3)
              = exp_month + " / " + exp_year
            %input{type: "hidden", name: "card_id", value: ""}
            = f.submit "削除する", {class: "content__credit-cards__list__remove"}
            - if flash[:notice]
              .alert.alert-success
              = flash[:notice]
            - if flash[:alert]
              .alert.alert-dange
              = flash[:alert]
            .buy-return
              = link_to "購入画面に戻る",item_card_buy_path(item_id:session[:item],id:session[:item]),class: "return"
  .credit__footer2
    .credit__footer2__body2
      %div.text2-1  
        = link_to 'プライバシーポリシー',"https://www.mercari.com/jp/privacy/"    
      %div.text2-2  
        = link_to 'Fmarket利用規約',"https://www.mercari.com/jp/tos/"
      %div.text2-3  
        = link_to '特定商取引に関する表記',"https://www.mercari.com/jp/tokutei/"
  .credit__footer__body__logo2
    = image_tag("logo_gray.svg", class: "free-gray1")
