.credit__body__all
  .credit__header__top
    .credit__header__top__logo
      = link_to image_tag("fmarket_logo_red.svg", class: ".user-new-registration__header__logo", size: "185x45", alt: "logo"), root_path
    .credit__title
      %h2 クレジットカード情報
      .credit-cards
        .credit-cards__inner
          = form_with url: card_index_path, method: :post, id: "charge-form", html: { name: "inputForm" } do |f|
            = f.label :カード番号, class: '.credit-cards__inner__cards-number'
            .credit-cards__inner__require 必須
            = f.text_field :card_number, type: 'text', class: 'input-number', placeholder: '半角数字のみ', maxlength: "16"
            .cards-expire
              = f.label :有効期限, class: 'limited'
              %span.require2 必須
              %br
              .cards-expire__month
                = f.select :exp_month, [["01",1],["02",2],["03",3],["04",4],["05",5],["06",6],["07",7],["08",8],["09",9],["10",10],["11",11],["12",12]],{} , class: 'input-month'
                %span.expire-text 月
                %br
              .cards-expire__year
                = f.select :exp_year, [["19",2019],["20",2020],["21",2021],["22",2022],["23",2023],["24",2024],["25",2025],["26",2026],["27",2027],["28",2028],["29",2029]],{} , class: 'input-year'
                %span.expire-text2 年
              .cards-expire-security
                = f.label :セキュリティコード, class: 'code'
                %span.require3 必須
                = f.text_field :cvc, type: 'text', class: 'input-number2', placeholder: 'カード背面4桁もしくは3桁の番号', maxlength: "4"
              .cards-bottom
                = f.submit '登録する', id: 'token_submit'
  .credit__footer
    .credit__footer__body
      %div.text  
      = link_to 'プライバシーポリシー',"https://www.mercari.com/jp/privacy/" 
      %div.text2  
      = link_to 'Fmarket利用規約',"https://www.mercari.com/jp/tos/"
      %div.text3  
      = link_to '特定商取引に関する表記',"https://www.mercari.com/jp/tokutei/"
  .credit__footer__body__logo
    = image_tag("logo_gray.svg", class: "free-gray1")