= render "top/header-top"

- breadcrumb :logout
= render "layouts/breadcrumbs"
.user-wrapper
  = render 'users/side'

  .logout
    .logout__contents
      .logout__contents__btn
        = link_to "ログアウト", destroy_user_session_path, method: :delete

= render "top/top2"