= render "top/header-top"

- breadcrumb :profile
= render "layouts/breadcrumbs"
.user-wrapper
  = render 'users/side'

  .itembuy
    .itembuy__user-address__forms
      .itembuy__user-address__forms__header
        プロフィール
      .itembuy__user-address__forms__menus
        .itembuy__user-address__forms__menus__zip-code
          .itembuy__user-address__forms__menus__zip-code__label
            .itembuy__user-address__forms__menus__zip-code__label__nickname
              = @user.nickname
          -# .itembuy__user-address__forms__menus__zip-code__form
          -#   -# %p ここは自己紹介ページ
          -#   -# %p 年齢
          -#   -# %p 職業
          -#   -# %p 住所
          -#   -# %p 趣味　
        %textarea.identification_user-address__forms__menu__municipalities__form{name: "profile", placeholder: "例）こんにちは！ご覧いただきありがとうございます。かわいいものやキレイめオフィスカジュアル中心に出品しています。気持ちよくお取引できるよう心がけていますので、商品や発送方法などご質問がありましたらお気軽にどうぞ♪", type: "textarea"}

        .itembuy__user-address__forms__menus__next
          変更する

= render "top/top2"